.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 1%;
  background-color: white;
  box-sizing: border-box;
  padding: 1em;
  top: 5%;
}
.select {
  width: 100%;
}
