.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 1%;
  background-color: white;
  box-sizing: border-box;
  padding: 0.5em;
  top: 5%;
  width: 50%;
  height: 7em;
  border: 1px solid gray;
  border-radius: 5px;
}
.select {
  width: 100%;
  padding: 0;
  text-align: start;
  font-weight: 400;
}
