button {
  background: none;
  border: none;
  font-size: 1rem;
}
.startBtn {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: left;
  background-color: white;
  height: 10vh;
}
.arriveBtn {
  width: 100%;
  height: 10vh;
  text-align: left;
  background-color: white;
}
.nowLoc {
  font-size: 2.4rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: #fbba00;
}
.nowDestination {
  font-size: 2.4rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 70vh;
  cursor: pointer;
  color: black;
}
.daum {
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 10;
}
.lowSec {
  width: 100%;
  height: 20vh;
}
.radiusSec {
  display: flex;
  position: absolute;
  right: 5%;
  top: 50%;
  padding: 10px;
  background-color: white;
  border-radius: 30px;
  border: 1px solid black;
}
.radiusSelect {
  border-radius: 20px;
}
.selBtns {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 25%;
}
.selectBtn {
  background-color: #fbba00;
  flex-basis: 40%;
  border-radius: 25px;
  font-size: 2rem;
}
.matchingBtn {
  background-color: #fbba00;
  flex-basis: 40%;
  border-radius: 25px;
  font-size: 2rem;
}
.backBtn {
  background-color: blue;
  margin-left: 1em;
  flex-basis: 40%;
  border-radius: 25px;
  font-size: 2rem;
}
.daumCancelSec {
  background-color: #0b65c8;
  height: 8vh;
}
.daumCancelBtn {
  background-color: #0b65c8;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  border-radius: 50%;
  font-size: 2rem;
}
.lowTopBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
}
.lowSecBtns {
  padding: 1em;
  height: 100%;
}
.lowBtn {
  border-radius: 10px;
}
.lowTopBtn {
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  width: 47%;
  height: 100%;
}
.lowMatchingBtn {
  background-color: #fbba00;
  color: white;
  width: 100%;
  height: 35%;
  margin-top: 1em;
}
.destinationResult {
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  justify-content: space-around;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 20px;
  font-size: 0.5em;
  align-items: center;
}
.startText {
  width: 40%;
}
.middleText {
  width: 20%;
  text-align: center;
}
.arriveText {
  width: 40%;
}
.matchingSec {
  position: absolute;
  width: 70vw;
  height: 40vh;
  background-color: black;
  top: 40vh;
  left: 15vw;
}
.loadingSpinner {
  background: none;
  border: 8px solid lightgray;
  border-radius: 50%;
  border-top: 8px solid #fbba00;
  width: 10em;
  height: 10em;
  animation: spin 2s linear infinite;
  margin: auto;
}
.matchingStatus {
  position: relative;
  background-color: white;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
