button {
  background: none;
  border: none;
  font-size: 1rem;
}
.startBtn {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: left;
  background-color: white;
  height: 10vh;
}
.arriveBtn {
  width: 100%;
  height: 10vh;
  text-align: left;
  background-color: white;
}
.nowLoc {
  font-size: 5rem;
}
