.lowSec {
  width: 100%;
  height: 18vh;
}
.startBtn {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: left;
  background-color: white;
  height: 50%;
}
.arriveBtn {
  width: 100%;
  height: 50%;
  text-align: left;
  background-color: white;
}
