.chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20%;
  width: 100%;
}
.time {
  color: gray;
  font-size: 0.5em;
}
.userImg {
  border-radius: 50%;
  width: 1em;
  height: 1em;
}
