.chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}
.myChat {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  margin: 1em 0;
}
.noticeText {
  text-align: center;
  color: gray;
}

.imgSec {
  width: 10%;
  margin: 0 3%;
}
.userImg {
  font-size: 2rem;
}
.timeSec {
  height: 100%;
  position: relative;
  margin: 0.5em;
}
.time {
  color: gray;
  font-size: 0.5em;
}
.text {
  border-radius: 10px;
  max-width: 80%;
  padding: 0.5em;
  margin-right: 1.5em;
}
.myColor {
  color: white;
  background-color: #fbba00;
}
.otherColor {
  color: black;
  background-color: #f2f3f7;
}
