.body {
  height: 100vh;
  background-color: white;
  box-sizing: border-box;
  padding: 1em 1.5em;
}
.textSec {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  font-size: 1.6rem;
  color: black;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
}
.nickname {
  margin: 0;
  display: inline;
  color: #fbba00;
}
.btns {
  height: 9%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.backBtn {
  width: 46%;
  height: 100%;
  background-color: #3c4451;
  color: white;
  border-radius: 10px;
}
.homeBtn {
  height: 100%;
  width: 46%;
  background-color: #fbba00;
  color: white;
  border-radius: 10px;
}
.evaluationSec {
  height: 61%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.praiseSec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.praise {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkBox {
  width: 1em;
  height: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-right: 1em;
}
.praiseBtn {
  width: 100%;
  height: 10%;
  background-color: #fbba00;
}
.checked {
  background-color: #fbba00;
}
.notChecked {
  background: none;
}
